<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>RingBloom</title>
  <!--    JQuery GOOGLE CDN    -->
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--    MATRIALIZE CSS    -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--    MATRIALIZE JS    -->
  <script src="/js/materialize.js"></script>
  <!--    BASE CSS FOR GENERAL    -->
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Firebase API -->
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-messaging.js"></script>
  <!--    BASE JS FOR GENERAL    -->
  <script src="/js/init.js"></script>
  <!--    Prograssive Web App     -->
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#3344AA">
  <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#3344AA">
  <script src="/pwabuilder-sw-register.js"></script>
</head>
<body class="darkmode">
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content dropdown-darken z-depth-3">
		<li><a class="waves-effect darkmode-text" href="/user/logout" id="logoutBtn"><i class="material-icons">exit_to_app</i>로그아웃</a></li>
	    <li class="divider divider-darken"></li>
	    <li><a class="waves-effect darkmode-text" href="/user/account"><i class="material-icons">settings</i>내 계정</a></li>
	</ul>
    <!--   NAVIGATION BAR     -->
	<nav class="nav-darken" role="navigation">
	  <div class="nav-wrapper container">
	    <a id="logo-container" href="/" class="brand-logo">RingBloom</a>
	    <ul class="right hide-on-med-and-down">
      	  <li><a href="/board">게시판</a></li>
          <li>
	          <a class="dropdown-trigger" href="javascript:void(0);" data-target="dropdown1">
	              <span th:text="${nickname}">
	              </span>
	              <i class="material-icons right">arrow_drop_down</i>
	          </a>
          </li>
	    </ul>
	
		 <ul id="nav-mobile" class="sidenav sidenav-darken">
			 <li>
				<div class="user-view">
					<div class="background">
					  <img src="/images/sidepic.jpg">
					</div>
					<a href="#user"><i class="medium material-icons"></i></a>
					<a href="#name">
						<span class="white-text name" th:text="${nickname}"></span>
						<input type="hidden" id="login" name="login" th:value="${login}"> 
					</a>
					<a href="#email">
						<span class="white-text email" th:text="${email}"></span>
					</a>
				</div>
			 </li>
			 <li><a class="subheader darkmode-text">RingBloom</a></li>
			 <li><a class="waves-effect sidenav-text" href="/"><i class="material-icons icon-darken">home</i>홈</a></li>
		 	 <li><a class="waves-effect sidenav-text" href="/board"><i class="material-icons icon-darken">forum</i>게시판</a></li>
	         <li>
	             <div class="divider divider-darken"></div>
	         </li>
	         <li><a class="subheader darkmode-text">User</a></li>
			 <li><a class="waves-effect sidenav-text" href="/user/logout" id="logoutBtn"><i class="material-icons icon-darken">exit_to_app</i>로그아웃</a></li>
		     <li><a class="waves-effect sidenav-text" href="/user/account"><i class="material-icons icon-darken">settings</i>내 계정</a></li>
		</ul>
	    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	  </div>
	</nav>
	<!--    CONTENT START    -->
	<div id="index_01" class="row h-100">
        <div class="ac-banner white-text col-12">
            <div class="row sub-banner">
                <div class="container">
                    <div class="col s12 m6 acinfo">
                        <h4 class="userinfo"><b>게시글 수정</b></h4>
                    </div>
                    <div class="col s12 m6 sbinfo">
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-100">
			<div class="container">
			    <form id="frm" method="post">
			    	<table class="board_detail" style="margin-top: 45px;">
						<colgroup>
							<col width="15%"/>
							<col width="35%"/>
							<col width="15%"/>
							<col width="35%"/>
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">글 번호</th>
								<td th:text="${board.boardIdx }"></td>
								<th scope="row">조회수</th>
								<td th:text="${board.hitCnt }"></td>
							</tr>
							<tr>
								<th scope="row">작성자</th>
								<td th:text="${board.creatorId}"></td>
								<th scope="row">작성일</th>
								<td th:text="${#temporals.format(board.createdDatetime, 'yy.MM.dd HH:mm')}"></td>
							</tr>
							<tr>
								<th scope="row">제목</th>
								<td colspan="3" class="input-field"><input type="text" id="title" name="title" th:value="${board.title}"/></td>
							</tr>
							<tr>
								<td colspan="4" class="view_text">
									<div class="input-field">
										<textarea title="내용" id="contents" name="contents" class="materialize-textarea" th:text="${board.contents}"></textarea>
										<label for="contents">게시글 내용</label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<input type="hidden" id="curPage" name="curPage" th:value="${curPage}">
					<input type="hidden" id="searchType" name="searchType" th:value="${searchType}">
					<input type="hidden" id="searchWord" name="searchWord" th:value="${searchWord}">
					<input type="hidden" id="boardIdx" name="boardIdx" th:value="${board.boardIdx}">
					<!-- 여기 -->
					<input type="hidden" id="method" name="_method"/>
				</form>
				
				<div class="file_list">
					<!-- 여기 -->
					<a th:each="list : ${board.fileList}" th:href="@{/board/file(idx=${list.idx}, boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName} (${list.fileSize} kb)|"></a>
				</div>
				<div style="margin-bottom: 100px;">
					<a href="#this" id="list" class="btn waves-effect waves-light navyblue">목록으로</a>
					<a href="#this" id="edit" class="btn waves-effect waves-light navyblue">수정완료</a>
				</div>
			</div>
        </div>
	</div>
    <footer class="page-footer footer-darken">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">I am a college student working on this project like it's my full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        	Made by <a class="brown-text text-lighten-3" href="https://github.com/Rena-Makise">Rena Makise</a>
        </div>
      </div>
    </footer>
    <!--    CONTENT END    -->
    <!--    JS CODE    -->
	<script type="text/javascript">
		$(document).ready(function(){
			var curPage = $("#curPage").val();
			var boardIdx = $("#boardIdx").val();
			var searchType = $("#searchType").val();
			var searchWord = $("#searchWord").val();
			$('#contents').val();
		    M.textareaAutoResize($('#contents'));
			
			$("#list").on("click", function(){
				location.href = "/board/"+curPage + "?searchType=" + searchType + "&searchWord=" + searchWord;
			});
			
			$("#edit").on("click", function(){
				$("#method").val("put");
				
				var frm = $("#frm")[0];
				frm.action = "/board/"+curPage+"/"+boardIdx + "/edit?searchType=" + searchType + "&searchWord=" + searchWord;
				frm.submit();
			});
		});
		
		// FCM 메시지 설정 코드
		var messaging = firebase.messaging();
		messaging.requestPermission()
		    .then(function(){
		        console.log('메세징 권한 획득');
		        return messaging.getToken();
		    })
		    .then(function(token){
		        console.log('fcm token: ', token);
		      	console.log("토큰 업데이트");
		        $.ajax({
		             type: "POST",
		             url: "/user/token",
		             dataType: "json",
		             data: {
		           	 	token : token
		             },
					 error : function(request, status, error) {
						  alert("서버가 응답하지 않습니다." + "\n" + "다시 시도해주시기 바랍니다." + "\n"
								  + "code: " + request.status + "\n"
								  + "message: " + request.responseText + "\n"
								  + "error: " + error);
					 },
		             success: function(result){
			           	  if(result == 1) {
			           		  console.log("토큰 업데이트 성공");
			           	  } else {
			           		  console.log("토큰 업데이트 불필요");
			           	  }		              
		           	 }
		        });
		    })
		    .catch(function(e){
		        console.log('메세징 권한 획득 중 에러', e);
		    });
	</script>
</body>
</html>