<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>RingBloom</title>
  <!--    JQuery GOOGLE CDN    -->
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--    MATRIALIZE CSS    -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--    MATRIALIZE JS    -->
  <script src="/js/materialize.js"></script>
  <!--    BASE CSS FOR GENERAL    -->
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Firebase API -->
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-messaging.js"></script>
  <!--    BASE JS FOR GENERAL    -->
  <script src="../js/init.js"></script>
  <!--    Prograssive Web App     -->
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#3344AA">
  <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#3344AA">
  <script src="/pwabuilder-sw-register.js"></script>
</head>
<body class="darkmode">
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content dropdown-darken z-depth-3">
	    <li><a class="waves-effect darkmode-text" href="/user/signup" ><i class="material-icons">library_add</i>회원가입</a></li>
	    <li><a class="waves-effect darkmode-text" href="/user/login"><i class="material-icons">vpn_key</i>로그인</a></li>
	</ul>
    <!--   NAVIGATION BAR     -->
	<nav class="nav-darken" role="navigation">
	  <div class="nav-wrapper container">
	    <a id="logo-container" href="/" class="brand-logo">RingBloom</a>
	    <ul class="right hide-on-med-and-down">
          <li>
	          <a class="dropdown-trigger" href="javascript:void(0);" data-target="dropdown1">
	              <span th:text="${nickname}">
	              </span>
	              <i class="material-icons right">arrow_drop_down</i>
	          </a>
          </li>
	    </ul>
	
		 <ul id="nav-mobile" class="sidenav sidenav-darken">
			 <li>
				<div class="user-view">
					<div class="background">
					  <img src="/images/sidepic.jpg">
					</div>
					<a href="#user"><i class="medium material-icons"></i></a>
					<a href="#name">
						<span class="white-text name" th:text="${nickname}"></span>
						<input type="hidden" id="login" name="login" th:value="${login}"> 
					</a>
					<a href="#email">
						<span class="white-text email" th:text="${email}"></span>
					</a>
				</div>
			 </li>
			 <li><a class="subheader darkmode-text">RingBloom</a></li>
			 <li><a class="waves-effect sidenav-text" href="/"><i class="material-icons icon-darken">home</i>홈</a></li>
	         <li>
	             <div class="divider divider-darken"></div>
	         </li>
	         <li><a class="subheader darkmode-text">User</a></li>
		     <li><a class="waves-effect sidenav-text" href="/user/signup" ><i class="material-icons icon-darken">library_add</i>회원가입</a></li>
		     <li><a class="waves-effect sidenav-text" href="/user/login"><i class="material-icons icon-darken">vpn_key</i>로그인</a></li>
		</ul>
	    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	  </div>
	</nav>
	<!--    CONTENT START    -->
   	<div id="index_01" class="row h-100" style="margin-bottom: 100px;">
	    <div class="ac-banner white-text col-12">
	        <div class="row sub-banner">
	            <div class="container">
	                <div class="col s12 m6 acinfo">
	                    <h4 class="userinfo"><b>회원가입</b></h4>
	                    <p class="userinfo subinfo">Welcome to RingBloom!</p>
	                </div>
	                <div class="col s12 m6 sbinfo">
	                </div>
	            </div>
	        </div>
	    </div>
        <div class="row h-100">
            <div class="container">
                <div class="col s12 m12">
                    <div style="position: relative; top:3vh;">
                        <!-- 회원가입 폼 시작-->
                        <form id="frm">
                            <div class="row" style="padding:10px; margin: 10px auto;">
                                <h4><b>기본 정보</b></h4>
                                <!-- nickname -->
                                <div class="input-field col s9">
                                    <input type="text" id="nickname" name="NICKNAME" class="validate" placeholder="닉네임">
                                    <label for="nickname">닉네임</label>
                                </div>
                                <div class="input-field col s3">
                                    <a href="#" id="nickname_checkBtn" class="btn waves-effect waves-light navyblue"><i class="material-icons">check</i></a>
                                </div>
                                <!-- password -->
                                <div class="input-field col s6">
                                    <input type="password" id="password" name="PASSWORD" class="validate" placeholder="비밀번호">
                                    <label for="password">비밀번호</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="password_chk" type="password" class="validate" placeholder="비밀번호 확인">
                                    <label for="password">비밀번호 확인</label>
                                </div>
                                <!-- E-mail -->
                                <div class="input-field col s12">
                                    <input type="text" id="email" name="EMAIL" class="validate" placeholder="E-mail">
                                    <label for="e_mail">E-mail</label>
                                </div>
                            </div>
                            <div class="row" style="padding:10px; margin: 10px auto;">
                                <h4 ><b>비밀번호 찾기용 Q&A</b></h4>
                                <!-- OP1 -->
                                <div class="input-field col s12">
                                    <input type="text" id="op1" name="OP1" class="validate" placeholder="비밀번호 찾기용 질문1">
                                    <label for="op1">비밀번호 찾기용 질문1</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" id="answer1" name="ANSWER1" class="validate" placeholder="비밀번호 찾기용 답변1">
                                    <label for="answer1">비밀번호 찾기용 답변1</label>
                                </div>
                                <!-- OP2 -->
                                <div class="input-field col s12">
                                    <input type="text" id="op2" name="OP2" class="validate"  placeholder="비밀번호 찾기용 질문2">
                                    <label for="op2">비밀번호 찾기용 질문2</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" id="answer2" name="ANSWER2" class="validate" placeholder="비밀번호 찾기용 답변2">
                                    <label for="answer2">비밀번호 찾기용 답변2</label>
                                </div>
                            </div>
                            <div class="col s12 center-align">
                                <div class="container">
                                    <div class="left-align" style="background-color: #F2F2F2; padding:10px; margin:10px auto; border-radius: 10px;">
                                        <h5 style="color: #B00020;"><b>잠깐!</b></h5>
                                        <p style="color: black; font-weight: bold;">닉네임과, 비밀번호 찾기용 질문은 가입후에 비밀번호를 찾을 때, 반드시 기억하고 있어야 합니다.<br />아래의 버튼을 누르기 전에 다시한번 확인해
                                            주세요!</p>
                                        <p>
                                            <label>
                                                <input type="checkbox" id="agree_checkbox" />
                                                <span style="color: black;">반드시 기억하겠습니다.</span>
                                            </label>
                                        </p>
                                    </div>
                                </div>
                                <a class="btn waves-effect waves-light navyblue" id="signUpBtn">가입하기
                                    <i class="material-icons right">send</i>
                                </a>
                            </div>
                        </form>
                        <!-- 회원가입 폼 끝-->
                    </div>
                </div>
            </div>
        </div>
 	</div>
    <footer class="page-footer footer-darken">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
   	        	<p class="grey-text text-lighten-4">I am a college student working on this project like it's my full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
      	  Made by <a class="brown-text text-lighten-3" href="https://github.com/Rena-Makise">Rena Makise</a>
        </div>
      </div>
    </footer>
    <!--    CONTENT END    -->
    <!--    JS CODE    -->
	<script type="text/javascript">
		$(document).ready(function(){
			$("#nickname_checkBtn").unbind("click").click(function(e) {
				e.preventDefault();
				fn_nicknameCheck();
			});
			$("#signUpBtn").unbind("click").click(function(e) {
				e.preventDefault();
				fn_signUp();
			});
/* 			$("#homeBtn").unbind("click").click(function(e) {
				e.preventDefault();
				fn_moveToHome();
			}); */
		});
		
		function fn_nicknameCheck() {
			var nickname = $("#nickname").val();
			var userData = { "nickname" : nickname }
			
			if (nickname.length < 1) {
				alert("닉네임을 입력해 주시기 바랍니다.");
				$("#nickname").focus();
			} else {
				$.ajax({
					type : "POST",
					url : "/user/nickname",
					data : userData,
					dataType : "json",
					error : function(request, status, error) {
						alert("서버가 응답하지 않습니다." + "\n" + "다시 시도해주시기 바랍니다." + "\n"
								+ "code: " + request.status + "\n"
								+ "message: " + request.responseText + "\n"
								+ "error: " + error);
					},
					success : function(result) {
						if (result == 0) {
							$("#nickname").attr("disabled", true);
							$('#nickname').css({
							    "border-bottom": "1px solid #4CAF50",
						    	"box-shadow": "0 1px 0 0 #4CAF50"
							});
							alert("사용 가능한 닉네임입니다.");
						}
						else if (result == 1) {
							alert('이미 존재하는 닉네임입니다. \n다른 닉네임를 사용해주세요');
							$('#nickname').css({
							    "border-bottom": "1px solid #B00020",
						    	"box-shadow": "0 1px 0 0 #B00020"
							});
						}
						else {
							alert("에러가 발생했습니다. \n관리자에게 문의바랍니다.");
						}
					}
				});
			}
		}
		
		function fn_signUp() {
			if ($("#nickname").val().length < 1) {
				alert("닉네임을 작성해주세요.");
				$("#nickname").focus();
			} else if (!$("#nickname").attr("disabled")) {
				alert("닉네임 중복체크를 해 주세요.");
			} else if ($("#password").val().length < 1) {
				alert("비밀번호를 작성해주세요.");
				$("#password").focus();
			} else if ($("#password").val() != $('#password_chk').val()) {
				alert("비밀번호가 서로 일치하지 않습니다. \n다시 입력해 주세요.");
				$("#password_chk").focus();
			} else if ($("#email").val().length < 1) {
				alert("이메일을 작성해주세요.");
				$("#email").focus();
			} else if ($("#op1").val().length < 1) {
				alert("비밀번호 확인 질문1을 작성해주세요.");
				$("#op1").focus();
			} else if ($("#answer1").val().length < 1) {
				alert("비밀번호 확인 답변1을 작성해주세요.");
				$("#answer1").focus();
			} else if ($("#op2").val().length < 1) {
				alert("비밀번호 확인 질문2를 작성해주세요.");
				$("#op2").focus();
			} else if ($("#answer2").val().length < 1) {
				alert("비밀번호 확인 답변2를 작성해주세요.");
				$("#answer2").focus();
			} else if ($("#agree_checkbox").prop("checked") == false) {
				alert("마지막 당부사항을 반드시 확인해주세요!");
			} else {
				if(window.confirm("회원가입을 하시겠습니까?")) {
					$("#nickname").attr("disabled", false);
					var form = document.getElementById('frm');
			         form.setAttribute("method", "POST");
			         form.setAttribute("action", "/user/signup");
			         form.submit();
				}
			}
		}
		
/* 		function fn_moveToHome() {
			if (window.confirm("메인 화면으로 돌아가시겠습니까?")) {
				window.location.href="/";
			}
		} */
	</script>
</body>
</html>