<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>RingBloom</title>
  <!--    JQuery GOOGLE CDN    -->
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--    MATRIALIZE CSS    -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--    MATRIALIZE JS    -->
  <script src="/js/materialize.js"></script>
  <!--    BASE CSS FOR GENERAL    -->
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Firebase API -->
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-messaging.js"></script>
  <!--    BASE JS FOR GENERAL    -->
  <script src="../js/init.js"></script>
  <!--    Prograssive Web App     -->
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#3344AA">
  <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#3344AA">
  <script src="/pwabuilder-sw-register.js"></script>
</head>
<body class="darkmode">
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content dropdown-darken z-depth-3">
		<span th:if="${login eq 'login'}">
			<li><a class="waves-effect darkmode-text" href="/user/logout" id="logoutBtn"><i class="material-icons">exit_to_app</i>로그아웃</a></li>
		    <li class="divider divider-darken"></li>
		    <li><a class="waves-effect darkmode-text" href="/user/account"><i class="material-icons">settings</i>내 계정</a></li>
	    </span>
		<span th:unless="${login eq 'login'}">
		    <li><a class="waves-effect darkmode-text" href="/user/signup" ><i class="material-icons">library_add</i>회원가입</a></li>
		    <li><a class="waves-effect darkmode-text" href="/user/login"><i class="material-icons">vpn_key</i>로그인</a></li>
		</span>
	</ul>
    <!--   NAVIGATION BAR     -->
	<nav class="nav-darken" role="navigation">
	  <div class="nav-wrapper container">
	    <a id="logo-container" href="/" class="brand-logo">RingBloom</a>
	    <ul class="right hide-on-med-and-down">
	      <span th:if="${login eq 'login'}">
	      	<li><a href="/board">게시판</a></li>
	      </span>
          <li>
	          <a class="dropdown-trigger" href="javascript:void(0);" data-target="dropdown1">
	              <span th:text="${nickname}">
	              </span>
	              <i class="material-icons right">arrow_drop_down</i>
	          </a>
          </li>
	    </ul>
	
		 <ul id="nav-mobile" class="sidenav sidenav-darken">
			 <li>
				<div class="user-view">
					<div class="background">
					  <img src="/images/sidepic.jpg">
					</div>
					<a href="#user"><i class="medium material-icons"></i></a>
					<a href="#name">
						<span class="white-text name" th:text="${nickname}"></span>
						<input type="hidden" id="login" name="login" th:value="${login}"> 
					</a>
					<a href="#email">
						<span class="white-text email" th:text="${email}"></span>
					</a>
				</div>
			 </li>
			 <li><a class="subheader darkmode-text">RingBloom</a></li>
			 <li><a class="waves-effect sidenav-text" href="/"><i class="material-icons icon-darken">home</i>홈</a></li>
 			 <span th:if="${login eq 'login'}">
			 	<li><a class="waves-effect sidenav-text" href="/board"><i class="material-icons icon-darken">forum</i>게시판</a></li>
			 </span>
	         <li>
	             <div class="divider divider-darken"></div>
	         </li>
	         <li><a class="subheader darkmode-text">User</a></li>
			 <span th:if="${login eq 'login'}">
				 <li><a class="waves-effect sidenav-text" href="/user/logout" id="logoutBtn"><i class="material-icons icon-darken">exit_to_app</i>로그아웃</a></li>
			     <li><a class="waves-effect sidenav-text" href="/user/account"><i class="material-icons icon-darken">settings</i>내 계정</a></li>
		     </span>
			 <span th:unless="${login eq 'login'}">
			     <li><a class="waves-effect sidenav-text" href="/user/signup" ><i class="material-icons icon-darken">library_add</i>회원가입</a></li>
			     <li><a class="waves-effect sidenav-text" href="/user/login"><i class="material-icons icon-darken">vpn_key</i>로그인</a></li>
			 </span>
		</ul>
	    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	  </div>
	</nav>
	<!--    CONTENT START    -->
	<div class="row h-100" style="margin-bottom: 100px;">
		<div class="col m2"></div>
		<div class="col s12 m8 white-text">
		    <h1>
		        :(
		    </h1>
		    <p>
		        <b>에러가 발생했습니다.</b>
		        <br/>다음 에러 사항을 관리자에게 알려주세요.
		        <br/>에러 코드 : <span th:text="${code}"></span>
		        <br/>에러 메시지 : <span th:text="${msg}"></span>
		        <br/>에러 시간 : <span th:text="${timestamp}"></span>
		    </p>
		</div>
		<div class="col m2"></div>
	</div>
    <footer class="page-footer footer-darken">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
   	        	<p class="grey-text text-lighten-4">I am a college student working on this project like it's my full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
      	  Made by <a class="brown-text text-lighten-3" href="https://github.com/Rena-Makise">Rena Makise</a>
        </div>
      </div>
    </footer>
    <!--    CONTENT END    -->
</body>
</html>