<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>RingBloom</title>
  <!--    JQuery GOOGLE CDN    -->
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--    MATRIALIZE CSS    -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--    MATRIALIZE JS    -->
  <script src="js/materialize.js"></script>
  <!--    BASE CSS FOR GENERAL    -->
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Firebase API -->
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-messaging.js"></script>
  <!--    BASE JS FOR GENERAL    -->
  <script src="/js/init.js"></script>
  <!--    Prograssive Web App     -->
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#3344AA">
  <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#3344AA">
  <script src="/pwabuilder-sw-register.js"></script>
</head>
<body class="darkmode">
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content dropdown-darken z-depth-3">
		<span th:if="${login eq 'login'}">
			<li><a class="waves-effect darkmode-text" href="/user/logout" id="logoutBtn"><i class="material-icons">exit_to_app</i>로그아웃</a></li>
		    <li class="divider divider-darken"></li>
		    <li><a class="waves-effect darkmode-text" href="/user/account"><i class="material-icons">settings</i>내 계정</a></li>
	    </span>
		<span th:unless="${login eq 'login'}">
		    <li><a class="waves-effect darkmode-text" href="/user/signup" ><i class="material-icons">library_add</i>회원가입</a></li>
		    <li><a class="waves-effect darkmode-text" href="/user/login"><i class="material-icons">vpn_key</i>로그인</a></li>
		</span>
	</ul>
    <!--   NAVIGATION BAR     -->
	<nav class="nav-darken" role="navigation">
	  <div class="nav-wrapper container">
	    <a id="logo-container" href="/" class="brand-logo">RingBloom</a>
	    <ul class="right hide-on-med-and-down">
	      <span th:if="${login eq 'login'}">
	      	<li><a href="/board">게시판</a></li>
	      </span>
          <li>
	          <a class="dropdown-trigger" href="javascript:void(0);" data-target="dropdown1">
	              <span th:text="${nickname}">
	              </span>
	              <i class="material-icons right">arrow_drop_down</i>
	          </a>
          </li>
	    </ul>
	
		 <ul id="nav-mobile" class="sidenav sidenav-darken">
			 <li>
				<div class="user-view">
					<div class="background">
					  <img src="/images/sidepic.jpg">
					</div>
					<a href="#user"><i class="medium material-icons"></i></a>
					<a href="#name">
						<span class="white-text name" th:text="${nickname}"></span>
						<input type="hidden" id="login" name="login" th:value="${login}"> 
					</a>
					<a href="#email">
						<span class="white-text email" th:text="${email}"></span>
					</a>
				</div>
			 </li>
			 <li><a class="subheader darkmode-text">RingBloom</a></li>
			 <li><a class="waves-effect sidenav-text" href="/"><i class="material-icons icon-darken">home</i>홈</a></li>
 			 <span th:if="${login eq 'login'}">
			 	<li><a class="waves-effect sidenav-text" href="/board"><i class="material-icons icon-darken">forum</i>게시판</a></li>
			 </span>
	         <li>
	             <div class="divider divider-darken"></div>
	         </li>
	         <li><a class="subheader darkmode-text">User</a></li>
			 <span th:if="${login eq 'login'}">
				 <li><a class="waves-effect sidenav-text" href="/user/logout" id="logoutBtn"><i class="material-icons icon-darken">exit_to_app</i>로그아웃</a></li>
			     <li><a class="waves-effect sidenav-text" href="/user/account"><i class="material-icons icon-darken">settings</i>내 계정</a></li>
		     </span>
			 <span th:unless="${login eq 'login'}">
			     <li><a class="waves-effect sidenav-text" href="/user/signup" ><i class="material-icons icon-darken">library_add</i>회원가입</a></li>
			     <li><a class="waves-effect sidenav-text" href="/user/login"><i class="material-icons icon-darken">vpn_key</i>로그인</a></li>
			 </span>
		</ul>
	    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	  </div>
	</nav>
	
	<!--    CONTENT START    -->
	<div id="index-banner" class="parallax-container valign-wrapper">
      <div id="left_side" class="text-center white-text" style="width:100%;">
          <h1 class="white-text sd" style="text-align: center;">RingBloom</h1>
          <p class="left-align light" style="text-align: center;">Within this rising passion is a wildly dancing soul</p>
      </div>
	  <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
	</div>
	
	<div class="container">
	  <div class="section">
	    <!--   Icon Section   -->
	    <div class="row">
	      <div class="col s12 m4">
	        <div class="icon-block">
	          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
	          <h5 class="center">Speeds up development</h5>
	          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
	        </div>
	      </div>
	      <div class="col s12 m4">
	        <div class="icon-block">
	          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
	          <h5 class="center">User Experience Focused</h5>
	          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
	        </div>
	      </div>
	      <div class="col s12 m4">
	        <div class="icon-block">
	          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
	          <h5 class="center">Easy to work with</h5>
	          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="parallax-container valign-wrapper">
	  <div class="section no-pad-bot">
	    <div class="container">
	      <div class="row center">
	        <h5 class="header col s12 light">This focused and unhesitating true intention guides us</h5>
	      </div>
	    </div>
	  </div>
	  <div class="parallax"><img src="images/background2.jpg" alt="Unsplashed background img 2"></div>
	</div>
	
	<div class="container">
	  <div class="section">
	    <div class="row">
	      <div class="col s12 center">
	        <h3><i class="mdi-content-send brown-text"></i></h3>
	        <h4>Inside</h4>
	        <p class="left-align light">What moved me was this place where I belonged to Towards the sky that cleared up little by little Even the things I ran from I feel like I can face them now The emotions that make my tear glands tremble We play it in this sincere serenade Towards a desired outcome, I extend both hands  
Heart to Heart Within this rising passion is a wildly dancing soul When everyone’s voice becomes my voice Let’s embrace this one and only feeling in the world Heart to Heart This focused and unhesitating true intention guides us It’s multicolored song that seems to have awakened Along this moment that’s filled with love This destiny that we overcame Will light the path to the future</p>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="parallax-container valign-wrapper">
	  <div class="section no-pad-bot">
	    <div class="container">
	      <div class="row center">
	        <h5 class="header col s12 light">I won’t let go of this one and only dream in the world</h5>
	      </div>
	    </div>
	  </div>
	  <div class="parallax"><img src="images/background3.jpg" alt="Unsplashed background img 3"></div>
	</div>
	
	<footer class="page-footer footer-darken">
	  <div class="container">
	    <div class="row">
	      <div class="col l6 s12">
	        <h5 class="white-text">Company Bio</h5>
	        <p class="grey-text text-lighten-4">I am a college student working on this project like it's my full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
	      </div>
	      <div class="col l3 s12">
	        <h5 class="white-text">Settings</h5>
	        <ul>
	          <li><a class="white-text" href="#!">Link 1</a></li>
	          <li><a class="white-text" href="#!">Link 2</a></li>
	          <li><a class="white-text" href="#!">Link 3</a></li>
	          <li><a class="white-text" href="#!">Link 4</a></li>
	        </ul>
	      </div>
	      <div class="col l3 s12">
	        <h5 class="white-text">Connect</h5>
	        <ul>
	          <li><a class="white-text" href="#!">Link 1</a></li>
	          <li><a class="white-text" href="#!">Link 2</a></li>
	          <li><a class="white-text" href="#!">Link 3</a></li>
	          <li><a class="white-text" href="#!">Link 4</a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  <div class="footer-copyright">
	    <div class="container">
	    	Made by <a class="brown-text text-lighten-3" href="https://github.com/Rena-Makise">Rena Makise</a>
	    </div>
	  </div>
	</footer>
   <!--    CONTENT END    -->
   <!--    JS CODE    -->
  <script type="text/javascript">
	  $(document).ready(function() {
	      $('.parallax').parallax();
	  });
	  
	  // FCM 메시지 설정 코드
	  var messaging = firebase.messaging();
	  messaging.requestPermission()
	      .then(function(){
	          console.log('메세징 권한 획득');
	          return messaging.getToken();
	      })
	      .then(function(token){
	          console.log('fcm token: ', token);
	          console.log($("#login").val());
	          if ($("#login").val() == "login") {
	        	  console.log("토큰 업데이트");
 	 	          $.ajax({
		              type: "POST",
		              url: "/user/token",
		              dataType: "json",
		              data: {
		            	  token : token
		              },
					  error : function(request, status, error) {
						  alert("서버가 응답하지 않습니다." + "\n" + "다시 시도해주시기 바랍니다." + "\n"
								  + "code: " + request.status + "\n"
								  + "message: " + request.responseText + "\n"
								  + "error: " + error);
					  },
		              success: function(result){
		            	  if(result == 1) {
		            		  console.log("토큰 업데이트 성공");
		            	  } else {
		            		  console.log("토큰 업데이트 불필요");
		            	  }		              }
		          });
	          }
	      })
	      .catch(function(e){
	          console.log('메세징 권한 획득 중 에러', e);
	      });
  </script>
	
  </body>
</html>
